<center style="margin-top: 25vh; margin-bottom: 25vh;">
  <h1>
    Our Social Networks
  </h1>
  <br />
  <a href="https://arcane-harbor-66543.herokuapp.com/">
    <img src="/images/logo.png" alt="logo" />
  </a>
  <br />
  <br />
  <div class="container mx-auto">
    <div class="row justify-content-center">
      <a class="col col-sm-2" href="https://mobile.twitter.com/1T_Sol">
        <img
          src="/images/twitter.png"
          alt="twitter"
          height="48px"
          width="48px"
        />
      </a>
      <a class="col col-sm-2" href="https://www.instagram.com/1t_soluciones/">
        <img
          src="/images/instagram.png"
          alt="instagram"
          height="48px"
          width="48px"
        />
      </a>
      <a class="col col-sm-2" href="https://github.com/ITS0luciones">
        <img src="/images/github.png" alt="github" height="48px" width="48px" />
      </a>
      <a class="col col-sm-2" href="https://wa.me/528712650643">
        <img
          src="/images/whatsapp.png"
          alt="whatsapp"
          height="48px"
          width="48px"
        />
      </a>
    </div>
  </div>
</center>